server:
  port: 9000

spring:
  application:
    name: im-gateway
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        import-check:
          enabled: false
    gateway:
      discovery:
        locator:
          enabled: true # 开启自动路由 (让 /im-auth/xxx 能自动转发)
          lower-case-service-id: true
      # --- 新增的部分开始 ---
      routes:
        - id: im-websocket             # 路由ID，随便起
          uri: ws://localhost:9003     # 转发目标：直接指向 Netty 的 9003 端口
          predicates:
            - Path=/im/** # 规则：只要路径是以 /im 开头的
      # --- 新增的部分结束 ---

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"